*.csv
*.gsheet
*.html
*.log
*.numbers
*.out
*.raw
*.xlsx
*files

.DS_Store
Icon
__pycache__/
archives/
downloads/
history/
queries/
/dgw_requirement_blocks/analysis.txt
/dgw_requirement_blocks/blocks.txt
/dgw_requirement_blocks/debug.txt
/dgw_requirement_blocks/fail.txt
/dgw_requirement_blocks/log.txt
/dgw_requirement_blocks/no_courses.txt
/dgw_requirement_blocks/relop_expressions.txt
/dgw_requirement_blocks/todo.txt
/dgw_requirement_blocks/anomalies.txt
/dgw_requirement_blocks/missing_ra.txt
/dgw_requirement_blocks/inactive_plans.txt
/dgw_requirement_blocks/new_plans.txt
